.webContainer {
  padding: 30px;
  width: 100%;
  min-height: 100vh;
}

.contentsTitle:not(:first-child) {
  margin-top: 30px;
}

.webContainer .contentsDescription {
  font-size: 16px;
  font-weight: 500;
}

.webContainer .contentsDescription {
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #f3f6f9;
}
