#virtualizedList {
  position: relative;
  background-color: #fff;
  overflow: auto;
}

#virtualizedList .listItem {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
}

#virtualizedList .listItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
